.section {
    /* outline: 1px solid red; */
    margin: 24px 0;
}

.hero {
    position: relative;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../images/hero_desktop@1x.jpg);
}

.hero__title {
    position: absolute;
    color: white;
    text-align: center;
    text-transform: uppercase;

    left: 0;
    right: 0;
    top: 60px;
}

.section__title {
    color: rgb(50, 50, 50);
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 24px;
}
